$font: 'Roboto', sans-serif;

//Cores
$cor-primaria: #495371;
$cor-secundaria: #74959A;
$cor-terciaria: #F1E0AC;

$tamanho-do-texto: 3rem;

@mixin reset { //@mixin indica a criação de uma função
    margin: 0;
    padding: 0;
    font-family: $font;
}

body {
    @include reset; // chamar o metodo
}

html {
    background: url(./assets/site/page-bg.jpg);
}